body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}
/* header part start */

#header{
    border-bottom: 1px solid gray;
    margin: 0 auto;
}

#header .content{
    display: flex;
}

#header .content .left{}
#header .content .left p{
    font-size: 0.813rem;
    color: rgb(75, 72, 72);
}

#header .content .right {
    /* border: 1px solid red; */
    flex: 1;
    font-size: 0.813rem;
}

#header .content .right ul{
    justify-content: flex-end;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
}
#header .content .right ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
#header .content .right ul li .currency{
    position: relative;
}
#header .content .right ul li i,
#header .content .right ul li a{
    color: rgb(104, 100, 100);
}
/* #header .content .right ul li i{
    align-items: center;
    align-content: center;
} */
#header .content .right ul li span{}

#currency{}

#header .content .right ul li {
    position: relative;
}
#header .content .right ul li ul{
    width: 120px;
    position: absolute;
    top: 25px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: block;
    background-color: white;
    outline: 1px solid black;
    border-radius: 10px;
    z-index: 999;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    transition: 0.3s;
    /* border: 1px solid red;  */
}
#header .content .right ul li ul li{
    padding: 5px;
    margin: 0 auto;
}

#header .content .right ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}


/* header part end  */

/* Navbar Part Start  */

#navbar{
    padding-top: 30px;
}
#navbar .content{
    position: relative;
    display: flex;
    justify-content: space-between;
}

#navbar .content .left{
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}
#navbar .content .left .logo {
    padding: 0px 50px 0px 0px;
}
#navbar .content .left .logo a{}
#navbar .content .left .logo a img{}
#navbar .content .left .nav{}
#navbar .content .left .nav a{}
#navbar .content .left .nav a i{}
#navbar .content .mid{
    flex: 1;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
#navbar .content .mid form{
    height: 100%;
    border: 1px solid #e0bf1d;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 20px;
}
#navbar .content .mid form input{
    /* border: none; */
    width: 70%;
    height: 100%;
    outline: 0;
    border: none;
    background: transparent;
}
#navbar .content .mid form select{
    width: 20%;
    height: 100%;
    background: transparent;
    border: none;
    margin-right: 10px;
    /* padding-right: 15px; */
}
#navbar .content .mid form select :active{
    border: none;
}
#navbar .content .mid form button{
    height: 100%;
    width: 10%;
    background-color: #fed700;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}
#navbar .content .mid form button i{
    font-size: 25px;
    /* font-weight: 400; */
}

#navbar .content .right{
    
}
#navbar .content .right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#navbar .content .right ul li{
    /* padding: 0px 15px 0px 15px; */
}
#navbar .content .right ul li a{
    position: relative;
}
#navbar .content .right ul li a i{
    margin-right: 20px;
}
#navbar .content .right ul li a .total-amount{}
#navbar .content .right ul li a .total-qty{
    position: absolute;
    background-color: #fed700;
    color: #333e48;
    padding: 5px;
    border-radius: 30px;
    bottom: -19px;
    left: 13px;
    text-align: center;

}




/* Navbar Part End  */
