/* reset css */
body, html {
  outline: 0;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

div, ul, header, section, nav, footer, main {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  outline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.container {
  width: 1200px;
  margin: auto;
}

/* common css  */
/* header part start */
#header {
  border-bottom: 1px solid gray;
  margin: 0 auto;
}
#header .content {
  display: flex;
}
#header .content .left p {
  font-size: 0.813rem;
  color: rgb(75, 72, 72);
}
#header .content .right {
  /* border: 1px solid red; */
  flex: 1;
  font-size: 0.813rem;
}
#header .content .right ul {
  justify-content: flex-end;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .content .right ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#header .content .right ul li .currency {
  position: relative;
}
#header .content .right ul li i, #header .content .right ul li a {
  color: rgb(104, 100, 100);
}

/* #header .content .right ul li i{
 * *    align-items: center;
 * *    align-content: center;
 * *} */
#header .content .right ul li {
  position: relative;
}
#header .content .right ul li ul {
  width: 120px;
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  display: block;
  background-color: white;
  outline: 1px solid black;
  border-radius: 10px;
  z-index: 999;
  padding: 10px;
  height: 100px;
  box-sizing: border-box;
  transition: 0.3s;
  /* border: 1px solid red; */
}
#header .content .right ul li ul li {
  padding: 5px;
  margin: 0 auto;
}
#header .content .right ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

/* header part end */
/* Navbar Part Start */
#navbar {
  padding-top: 30px;
}
#navbar .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
#navbar .content .left {
  min-width: 250px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}
#navbar .content .left .logo {
  padding: 0px 50px 0px 0px;
}
#navbar .content .left .nav a i {
  color: #333e48;
}
#navbar .content .mid {
  flex: 1;
  /* border: 1px solid red; */
  box-sizing: border-box;
}
#navbar .content .mid form {
  height: 100%;
  border: 2px solid #e0bf1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
}
#navbar .content .mid form input {
  /* border: none; */
  width: 70%;
  height: 100%;
  outline: 0;
  border: none;
  background: transparent;
  padding: 0px 10px 0px 20px;
}
#navbar .content .mid form select {
  color: #606060;
  width: 20%;
  height: 100%;
  background: transparent;
  border: none;
  margin-right: 10px;
  /* padding-right: 15px; */
}
#navbar .content .mid form button {
  height: 100%;
  width: 10%;
  background-color: #fed700;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #fed700;
}
#navbar .content .mid form button i {
  font-size: 25px;
  /* font-weight: 400; */
}
#navbar .content .right {
  margin-left: 40px;
}
#navbar .content .right ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-content: center;
  height: 100%;
}
#navbar .content .right ul li {
  position: relative;
  /* padding: 0px 15px 0px 15px; */
}
#navbar .content .right ul li a {
  position: relative;
  color: #333e48;
}
#navbar .content .right ul li a i {
  margin-right: 20px;
}
#navbar .content .right ul li a .total-qty {
  position: absolute;
  background-color: #fed700;
  color: #333e48;
  padding: 5px;
  border-radius: 30px;
  bottom: -19px;
  left: 13px;
  text-align: center;
}

/* #navbar .content .right ul li a .cart:hover #navbar .content .right .cart_content{
 * *    opacity: 0;
 * *    visibility: hidden;
 * *} */
.cart_content {
  position: absolute;
  width: 330px;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  /* border: 1px solid red; */
  top: 50px;
  right: 0;
  background: white;
  box-shadow: 1px 1px 1px 1px #554747;
  border: 1px solid #554747;
  border-radius: 5px;
  z-index: 999;
}

.cart_content_show {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.4s;
}

#navbar .content .right .cart_content .cart_elements {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#navbar .content .right .cart_content .cart_elements > li {
  margin-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
}
#navbar .content .right .cart_content .cart_elements .cart_elements_item {
  display: flex;
  /* border: 1px solid green; */
  padding: 0;
}
#navbar .content .right .cart_content .cart_elements .cart_elements_item li {
  /* border: 1px solid #333e48; */
}
#navbar .content .right .cart_content .cart_elements .cart_elements_item li h3 {
  margin: 0;
  padding-bottom: 5px;
  color: #1b6dba;
}
#navbar .content .right .cart_content .cart_btn {
  display: flex;
  justify-content: space-around;
}
#navbar .content .right .cart_content .cart_btn a {
  background-color: rgb(191, 189, 189);
  padding: 10px 25px;
  border-radius: 20px;
  color: black;
  font-weight: 600;
}
#navbar .content .right .cart_content .cart_btn a:hover {
  background-color: rgb(62, 62, 61);
  transition-duration: 0.3s;
  color: white;
}

/* Navbar Part End */
/* Sidebar Start */
.sidebar {
  position: absolute;
  width: 350px;
  height: 100vh;
  z-index: 999;
  /* border: 1px solid red; */
  left: -350px;
  top: 0;
  box-sizing: border-box;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.sidebar_show {
  opacity: 1;
  left: 0;
  visibility: visible;
}

#sidebar .sidebar_content {
  overflow-y: scroll;
  /* border: 1px solid blue; */
}
#sidebar .sidebar_content .sidebar_content_top {
  padding: 10px 25px;
  height: calc(100vh - 135px);
}
#sidebar .sidebar_close {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 20px;
  z-index: 999;
}
#sidebar .sidebar_close :active {
  color: red;
}
#sidebar .sidebar_content ul li {
  padding: 10px 0px 10px 0px;
}
#sidebar .sidebar_content ul li a {
  color: black;
  font-size: 20px;
}
#sidebar .sidebar_content ul .feature_link {
  font-weight: 600;
}
#sidebar .sidebar_content .feature_drop_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sidebar footer {
  background-color: #c0c0c0;
  padding: 40px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#sidebar footer .footer_content {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
#sidebar footer .footer_content li a {
  color: black;
}

/* Sidebar End */
/* Bottom Nav Start */
.bottom_nav .content {
  display: flex;
  align-items: center;
}
.bottom_nav .content .left {
  min-width: 250px;
}
.bottom_nav .content .left .all_category_trigger {
  cursor: pointer;
  background-color: #fff444;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 20px;
}
.bottom_nav .content .left .all_category_trigger a {
  color: black;
  font-weight: bold;
}
.bottom_nav .content .left .all_category_trigger a i {
  padding-right: 7px;
}
.bottom_nav .content .left .all_category_list {
  width: 100%;
  position: absolute;
  background-color: #f5f5f5;
  padding: 0px 15px;
  transition-duration: 0.3s;
}
.bottom_nav .content .left .all_category_list ul li {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(51, 51, 255, 0.2);
}
.bottom_nav .content .left .all_category_list ul li a {
  color: #333;
}
.bottom_nav .content .left .all_category_list ul li:hover, .bottom_nav .content .left .all_category_list ul li:hover a {
  font-weight: bold;
  color: #121212;
  background-color: #ededed;
}
.bottom_nav .content .left .all_category_list ul .feature_link {
  font-weight: 600;
}
.bottom_nav .content .left .all_category_list ul .feature_drop_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_nav .content .mid {
  flex: 1;
  margin-left: 20px;
}
.bottom_nav .content .mid .short_links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bottom_nav .content .mid .short_links ul li a {
  color: #605F5F;
  font-weight: bold;
}
.bottom_nav .content .mid .short_links ul li a:hover {
  color: #000000;
}
.bottom_nav .content .mid .short_links ul li:nth-of-type(1) a {
  color: red;
}
.bottom_nav .content .right a {
  color: #333e48;
}

.error_handle {
  visibility: hidden;
  opacity: 0;
  top: 100px;
}

.show_all_category_list {
  visibility: visible;
  opacity: 1;
  top: 42px;
}

/*Bottom Nav End */

/*# sourceMappingURL=style.css.map */
